#simu-nird {
    background: #222; 
    color: white; 
    padding: 20px; 
    margin: 30px auto; 
    max-width: 650px; 
    border-radius: 12px; 
    border: 2px solid #555;
    text-align: center;
}

.choice-btn {
    padding: 12px 18px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: white;
    background: #3498db; /* couleur unique */
    transition: transform .2s;
    width: 80%;
    max-width: 350px;
}

.choice-btn:active {
    transform: scale(.95);
}



.rainbow-text1 {
  background-image: linear-gradient(to left,#287de7, #7a3ff2, #d042e6,#ff7a59, #f6c244);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.rainbow-text2 {
  background-image: linear-gradient(to right, #287de7, #7a3ff2, #d042e6,#ff7a59, #f6c244);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#restartBtn {
    display: none;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: #e67e22;
    color: white;
    border: none;
}
#restartBtn:hover {
    background: #f39c12;
}

.gauge {
    background: #ddd;
    border-radius: 12px;
    height: 28px;
    margin: 12px auto;
    width: 80%;
    overflow: hidden;
    border: 2px solid #aaa;
}
.fill {
    height: 100%;
    width: 50%;
    transition: width 0.6s ease;
}
#budgetFill { background: gold; }
#ecoFill { background: #27ae60; }
#autoFill { background: #2980b9; }

#message { margin-top: 20px; font-size: 18px; font-weight: bold; padding: 10px; min-height: 60px; }
#badge { margin-top: 20px; font-size: 26px; font-weight: bold; }
